<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Seja bem vindo professor(a), <%= @professor.name %></h1>
    <p>
      Para confirmar seu registro por favor use esse <%= link_to "link", @url %>.
    </p>
    <p>Muito obrigado por estar conosco e bom trabalho!</p>
  </body>
</html>